

.recommended-friends{
    margin: 25px 0px;
    padding: 25px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.recommended-friends span{
    display: block;
    margin: 100px 0px;
    text-align: center;
    color: 1px solid rgba(0, 0, 0, 0.5);
    font-size: 18px;
}
