#friends-display-link{
    text-align: center;
    display: block;
    background-color: rgba(221, 216, 216, 0.676);
    padding: 20px 0px;
    margin-bottom: 15px;
    margin-top:-15px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);

}

.friends-screen{
    margin-top: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.friends-screen__friends-header{
    margin-top: 20px;
    margin-left: 30px;
}

.friends-screen__friends-list{
    width: 300px;
    margin-right: 120px;
    
}

.open-chat__header{
    display: flex;
    justify-content: space-between;
    opacity: 0.8;
}

.open-chat__header span {
    opacity: 0.6;
    margin-bottom: 25px;
}

.open-post{
    display: flex;

}

.open-post__title {
    font-weight: 600;
    margin-bottom: 7px;

}

.open-post__hastags{
    text-transform: uppercase;
    opacity: 0.6;
}

.open-post__members{
    margin-top: 7px;
    display: flex;
    align-items: center;
}

.open-post__members img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 5px;
}



.open-post__members .divider {
    width: 2px;
    height: 15px;
    margin: 0px 5px;
    background-color: black;
}

.open-post__member-status{
    color:#ffb0e0;
}