#friends-display-link{
    text-align: center;
    display: block;
    background-color: rgba(221, 216, 216, 0.676);
    padding: 10px 0px;
}

#friends-display-link i {
    color: rgba(0, 0, 0, 0.3);

}