body{
    padding: 20px;
}



.nana-graph{
    background-color:rgba(255, 228, 196, 0.747);
    height: 40px;
    border-radius:40px ;
}

.nana-graph span{
    display: block;
    height: 40px;
    width: 90%;
    line-height: 40px;
    text-align: right;
    background-color: rgb(202, 240, 144);
    border-radius: 40px;
    box-sizing: border-box;
    color:black;
    font-size: 25px ;
    animation: stack 1s ;
}

.nana-graph__solid{
    border-bottom: 1px solid rgba(0 .0 .0);
    padding-bottom: 40px;
}








@keyframes stack{
    0%{
        width: 0;

    }
    100%{
        width: 90%;
    }
}


h1{
    margin-top: -10px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: 500;
}


.seed-leval{
    padding: 20px;
    display: flex;
    flex-direction: column;   
    align-items: center;
    justify-content: center; 
}


.seed-leval__icon{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items:first baseline;
    color: rgb(34, 133, 50);
}



.seed-leval__icon span {
    margin-left: 15px;
}


.seed-leval__column{
    padding-top: 50px;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}


.seed-leval__title{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    margin-top: 50px;   
    font-weight: bold;
}

.my-seed__icon{
    padding-top: 30px;
    color: rgb(34, 133, 50);;
}







.seed__donut{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 20px;
    display: flex;
    align-items: flex-end;
    justify-content:center;
    box-sizing: border-box;
    width: 200px;
    margin-top: 5px;

    --percentage : 0;



    &:after{
        content: '';
        position: absolute;
        left:0;
        top:0;
        width: 100px;
        height: 100px;
        border:50px solid;
        border-color: rgb(234, 217, 174) rgb(234, 217, 174) rgb(130, 190, 147) ;
        border-radius: 50%;
        transform: rotate(50deg);

    }
}





.nana-donut__solid{
    border-bottom: 1px solid rgba(0 .0 .0);
    padding-bottom: 250px;
}
    



#todo-form{
    margin-top: 15px;
    display: flex;
    justify-content: center;
}

#todo-list{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.today_before__icon{
    display: flex;
    justify-content: right;
    margin-top: 10px;
}
