.user-component{
    justify-content: space-between;
   
}



.user-component,
.user-component__column:first-child{
    display: flex;
    align-items: center;
    width: 300px;
}




.user-component__avatar--xl{
    width: 70px;
    height: 70px;
    border-radius: 20px;
    margin: 20px;
}

.user-component__title{
    font-weight: 600;
    font-size: 18px;
}


.user-component__subtitle{
    margin-top: 8px;
    color: rgba(0, 0, 0, 0.7);
}

.user-component__avatar--sm{
    width: 60px;
    height: 60px;
    border-radius: 20px;
    margin: 20px;
}


.user-component__time{
    margin-bottom: 10px;
    display: block;
    
}


.user-component__columnl:last-child{
    display: flex;
    justify-content: space-between;
}
